<div>
    <h2 id="saludo"></h2></div></br>
<h2 id="emailHbs"></h2></br>
</div>
 <div><a href="/api/sessions/logout"><button>logout</button></a></div>
 <div><a href="/api/sessions/restore"><button>restore</button></a></div>
<p>Bienvenido {{user.firstName}} {{user.lastName}} </p>

<script src="/js/login.js"></script>