    <form id="registerForm">
        <label>name</label>
        <input type="text" name="firstName">
        <br />
        <label >apellido</label>
        <input type="text" name="lastName">
        <br />
        <label >Email</label>
        <input type="email" name="email">
        <br />
        <label type="password">Passsword</label>
        <input name="password">
        <input type="submit">
    </form>

<script src="/js/register.js"></script>